doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Slack @Jhe_XO
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/main.css")
		link(rel="icon", type="image/png", href="images/favicon.png")

	body

		main.container
			.grid
				.col.col--8-of-12.col--centered.content
					h1.title.text-centered Slack Logo Animation
					p.info.text-centered Minha réplica da animação da logo do Slack utilizando apenas CSS animations.

					.c-slack
						span.c-slack__dot.c-slack__dot--a
						span.c-slack__dot.c-slack__dot--b
						span.c-slack__dot.c-slack__dot--c
						span.c-slack__dot.c-slack__dot--d

					.footer.grid
						.col.col--4-of-12
							p.info.footer-text
								a(href="//jhink.github.io").go-back.footer-link.
									<i class="icon icon-arrow-left"></i> Voltar ao site

						.col.col--4-of-12
							p.info.footer-text.text-centered Feito com <i class="icon icon-heart"></i> por <a href="//jhink.github.io" title="Ver Portifólio" class="footer-link">@jhink</a>

	script(src="js/main.js")
